.my_photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 6px solid #234569;
}

.rectangle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 6px solid #234569;
    padding: 20 px;
}